* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #004579;
}


/*section {
    outline: 0.1rem solid red !important; 
}

div {
    outline: 0.1rem solid red !important; 
}*/

/* SCORE */

.score {
    display: block;
    position: relative;
    margin: 1rem 3rem 3rem 3rem;
    padding: 4rem;
    font-size: 2rem;
    color: white;
}

.player-score {
    text-align: center;
    float: left;
    margin-left: 2rem;
}

.computer-score {
    text-align: center;
    float:right;
    margin-right: 2rem;
}

/* GAME AREA */

.game-area {
    display: block;
    margin: 3rem;
    padding: 2rem;
}

.hand-compare {
    position: relative;
    text-align: center;
    color: white;
}

.selector {
    text-align: center;
    margin-top: 2rem;
}

button {
    font-size: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: transparent;
    border: none;
}

button:hover {
    transform: scale(1.1);
}